[unix_http_server]
file=/tmp/supervisor.sock                       ; path to your socket file

[supervisord]
logfile=/var/log/supervisord/supervisord.log    ; supervisord log file
logfile_maxbytes=50MB                           ; maximum size of logfile before rotation
logfile_backups=10                              ; number of backed up logfiles
loglevel=error                                  ; info, debug, warn, trace
pidfile=/var/run/supervisord.pid                ; pidfile location
nodaemon=false                                  ; run supervisord as a daemon
minfds=1024                                     ; number of startup file descriptors
minprocs=200                                    ; number of process descriptors
user=root                                       ; default user
childlogdir=/var/log/supervisord/               ; where child log files will live

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock         ; use a unix:// URL  for a unix socket

[program:monitor_and_move]
user={{username}}
environment=CLUSTER_NAME="{{cluster_name}}",USER="{{username}}"
command=/mapr/{{cluster_name}}/apps/mapr-pcapstream/monitor_and_move.sh
stderr_logfile = /var/log/mapr-pcapstream/monitor_and_move.err
stdout_logfile = /var/log/mapr-pcapstream/monitor_and_move.out

[program:run_tcpdump]
user={{username}}
environment=CLUSTER_NAME="{{cluster_name}}",USER="{{username}}"
command=/mapr/{{cluster_name}}/apps/mapr-pcapstream/run_tcpdump.sh
stderr_logfile = /var/log/mapr-pcapstream/run_tcpdump.err
stdout_logfile = /var/log/mapr-pcapstream/run_tcpdump.out

[program:spark_submit]
user=mapr
environment=CLUSTER_NAME="{{cluster_name}}",USER="{{username}}"
command=/mapr/{{cluster_name}}/apps/mapr-pcapstream/submit.sh
stderr_logfile = /var/log/mapr-pcapstream/spark_submit.err
stdout_logfile = /var/log/mapr-pcapstream/spark_submit.out

